.select .main{
    border: 1px solid black;
    display: inline-block;
    width: 30px;
    height: 20px;
}

.items {
    position: absolute;

    padding: 5px;
    border: 1px solid greenyellow;
}

.item.selected{
    background-color: blue;
    color: white;
}